.search-container {
  position: relative;
  padding: 0;

  &.searching {
    input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
    }
    button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80;
    font-size: 2rem;
  }

  .search-results {
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 350px;
    overflow: scroll;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .search-result {
      padding: 16px;
      text-align: left;
      font-weight: bold;
      font-size: 20px;

      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */

      &:hover {
        // background: rgb(218, 227, 230);
        // box-shadow: 0 0 10px 100px rgb(218, 227, 230) inset;
        cursor: pointer;
      }
    }
  }
}
